@import "./vars.css";

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
*{
    margin: 0 0;
    padding: 0 0;
}
.wrapper{
    width: 1600px;
}
li{
    list-style: none;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/* Main titels uppercase */
.header-slider,
.text-slider,
.header-section,
.product-item-title,
.product-item-price {
    text-transform: uppercase;
}
/* Header */
.main-navigation{
    margin: 0 auto;
    width: 1110px;
}
/* Navigation */
.navgation-link,
.logo{
    text-decoration: none;
    text-transform: uppercase;
}
.main-navigation{
    padding-top: 36px;
    padding-bottom: 30px;
}
.logo{
    display: inline-block;
    font-family: var(--main-font);
    font-size: 30px;
    color: #555252;
    font-weight: 300;
    line-height: 32px;
}
.logo::first-letter{
    font-weight: 900;
    color: var(--focus-color);
}
.navigation{
    float: right;
    margin-top: 10px;
}
.navigation-item{
    float: left;
    margin-right: 34px;
}
.navigation-item:last-child{
    margin-right: 0;
}
.navgation-link{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
    font-weight: 700;
}
.navgation-link:hover,
.navgation-link:focus{
    color: var(--focus-color);
}
/* Slider */
.slider{
    position: relative;
    width: 100%;
    height: 600px;
    background: url("../img/main-img.png") no-repeat center center;
}
.slider::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
    z-index: 1;
}
.slides-item{
    position: relative;
}
.header-slider {
    position: absolute;
    left: 428px;
    top: 210px;
    font-family: var(--main-font);
    color: #fff;
    z-index: 3;
    font-size: 60px;
    font-weight: 900;
}
.text-slider{
    position: absolute;
    top: 297px;
    left: 430px;
    font-family: var(--main-font);
    color: #fff;
    z-index: 3;
    font-size: 24px;
    font-weight: 300;
}
.button-slider-left{
    left: 245px;
    background: url("../img/left.png") no-repeat center center;
}
.button-slider-right{
    right: 245px;
    background: url("../img/right.png") no-repeat center center;
}
.button-slider{
    display: inline-block;
    position: absolute;
    height: 104px;
    width: 104px;
    background-color: #55a28f;
    top: 230px;
    cursor: pointer;
    border: none;
    opacity: 0.7;
    z-index: 2;
    color: #fff;
}
.button-slider:hover,
.button-slider:focus{
    background-color: #1abc9c;
    opacity: 1;
}
/* Section header */
.header-section{
    text-align: center;
    font-family: var(--main-font);
    color: #515151;
    font-size: 48px;
    margin-bottom: 80px;
}
.header-section:after{
    content: "";
    border-bottom: 7px solid var(--focus-color);
    display: block;
    width: 164px;
    margin: 0 auto;
    margin-top: 20px;
}
/* Section */
.section{
    width: 100%;
    height: 680px;
    background-color: #e9f0fd;
    padding-top: 100px;
}
.section-list{
    margin: 0 auto;
    width: 1110px;
}
.section-item{
    position: relative;
    width: 22.97%;
    height: 322px;
    background-color: #fff;
    float: left;
    margin-right: 30px;
}
.section-item:hover .product-item-title{
    background-color: var(--focus-color);
}
.section-item:hover .product-item-price{
    background-color: #7fd9c7;
}
.section-item:hover .card-overlay{
    display: block;
}
.overlay-icon-btn:hover{
    background-color: var(--focus-color);
    cursor: pointer;
}
.overlay-icon-btn-cart:hover{
    background-color:rgba(127, 217, 199,.3);
    cursor: pointer;
}
.section-item:last-child{
    margin-right: 0;
}
.product-item-name{
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}
.product-item-title{
    float: left;
    box-sizing: border-box;
    background-color: #323232;
    width: 78.5%;
    font-family: var(--main-font);
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-left: 12px;
    font-weight: 900;
    line-height: 40px;
}
.product-item-price{
    background-color: #8c8c8c;
    width: 21.5%;
    float: right;
    color: #fff;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 900;
    line-height: 40px;
}
.card-overlay{
    position: absolute;
    top: 11px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 3;
    width: 235px;
    height: 261px;
    display: none;
 }
 .overlay-icon-list{
    margin: 0 auto;     
    width: 163px;
    padding-top: 79px;
 }
 .overlay-icon-item:not(last-child){
    float: left;
    margin-right: 9px;
    margin-bottom: 7px;
}
.overlay-icon-item:nth-child(3n){
    margin-right: 0;
}
.overlay-icon-btn{
    width: 48px;
}
.overlay-icon-btn-cart,
.overlay-icon-btn {
    display: block;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    height: 48px;
}
.overlay-icon-btn-cart{
    width: 163px;
}
.like{
    background: url("../img/icon-like.png") no-repeat center center;
}
.arrow{
    background: url("../img/icon-arrow.png") no-repeat center center;
}
.clock{
    background: url("../img/icon-clock.png") no-repeat center center;
}
.overlay-icon-btn-cart {
    background: url("../img/icon-cart.png") no-repeat center center;
    background-color: rgb(50, 50, 50);
}
/* Footer */
.footer{
    width: 100%;
    height: 88px;
    background-color: #323232;
    text-align: center;
}
.footer-text{
    line-height: 88px;
    font-family: var(--main-font);
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.last-world-fotter{
    color: #1abc9c;
}